
html 
{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
}

body
{
    margin: auto;
}

.persian
{
    background-color: turquoise;
    grid-area: content1;
    
}
.fluffy
{
    background-color: yellow;
    grid-area: content2;
    
}
.chonky
{
    background-color: seagreen;
    grid-area: content3;
   
}

.container
{
    font-size: medium;
    position: relative;
    width: 100%;
    background: gold;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header . . ."
    "content1 content2 content3 content4"
    "content5 content6 content7 content8"
    "content9 content10 content11 content12";
    font-size: 40px ;
    justify-self: center;
    text-align: center;
}