
    body {
        background-color: #e7e7e7;
        display: block;
        margin: auto;
        max-width: 900px;
    }

    header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 0 0 20px 0;
    }

    .switch {
        display: block;
        float: right;
        margin: 15px;
    }
    .inner-switch {
        display: block;
        float: right;
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 20px;
        width: 50px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 3px;
        margin-left: 5px;
    }

    ul {
        list-style-type: none;
        position: sticky;
        top: 0;
        margin: auto;
        padding: 0;
        border: 1px solid  #e7e7e7;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color:  #e7e7e7;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px; 
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
       background-color: rgb(187, 163, 128); 
    }
    .div1 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 600px;
    }

    .div2 {
        display: block;
        float: right;
        padding: 15px 18px 15px 18px;
        max-width: 600px;
    }

    .div3 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 600px;
    }

    .div4 {
        display: block;
        float: right;
        padding: 15px 18px 15px 18px;
        max-width: 600px;
    }

    .div5 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 600px;
    }


    p {
        text-align: justify;
        font-family: 'Dosis', sans-serif;
        color: black;
        margin: 0 0 15px 0;
    }


@media only screen and (min-width: 768px) and (max-width: 1023px){
    body {
        background-color:  #e7e7e7;
        display: block;
        margin: auto;
        max-width: 700px;
    }

    header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 0 0 20px 0;
    }
    .switch {
        display: block;
        float: right;
        margin: 15px;
    }
    .inner-switch {
        display: block;
        float: right;
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 20px;
        width: 50px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 3px;
        margin-left: 5px;
    }

    ul {
        list-style-type: none;
        position: sticky;
        top: 0;
        margin: auto;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color:  #e7e7e7;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px; 
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
       background-color:  rgb(187, 163, 128); 
    }

    .div1 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 400px;
    }

    .div2 {
        display: block;
        float: right;
        padding: 15px 18px 15px 18px;
        max-width: 400px;
    }

    .div3 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 400px;
    }

    .div4 {
        display: block;
        float: right;
        padding: 15px 18px 15px 18px;
        max-width: 400px;
    }

    .div5 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 400px;
    }

    p {
        text-align: justify;
        font-family: 'Dosis', sans-serif;
        color: black;
        margin: 0 0 15px 0;
    }
    .dark,
    .dark *:not(.active) {
        background-color: #222;
        color: #e7e7e7;
        border-color: #e7e7e7;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    body {
        background-color:  #e7e7e7;
        display: block;
        margin: auto;
        max-width: 600px;
    }

    header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 0 0 20px 0;
    }

    .switch {
        display: block;
        float: right;
        margin: 15px;
    }
    .inner-switch {
        display: block;
        float: right;
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 20px;
        width: 50px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 3px;
        margin-left: 5px;
    }

    ul {
        list-style-type: none;
        position: sticky;
        top: 0;
        margin: auto;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color:  #e7e7e7;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px; 
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
       background-color:  rgb(187, 163, 128); 
    }

    .div1 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 300px;
    }

    .div2 {
        display: block;
        float: right;
        padding: 15px 18px 15px 18px;
        max-width: 300px;
    }

    .div3 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 300px;
    }

    .div4 {
        display: block;
        float: right;
        padding: 15px 18px 15px 18px;
        max-width: 300px;
    }

    .div5 {
        display: block;
        float: left;
        padding: 15px 18px 15px 18px;
        max-width: 300px;
    }

    p {
        text-align: justify;
        font-family: 'Dosis', sans-serif;
        color: black;
        margin: 0 0 15px 0;
    }
    .dark,
    .dark *:not(.active) {
        background-color: #222;
        color: #e7e7e7;
        border-color: #e7e7e7;
    }
}

@media only screen and (min-width: 0px) and (max-width: 479px){
    body {
        background-color:  #e7e7e7;
        display: block;
        margin: auto;
        max-width: 400px;
    }

    header {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 0 0 10px 0;
    }

    .switch {
        display: block;
        float: right;
        margin: 15px;
    }
    .inner-switch {
        display: block;
        float: right;
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 20px;
        width: 50px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        padding: 3px;
        margin-left: 5px;
    }

    ul {
        list-style-type: none;
        position: sticky;
        top: 0;
        margin: auto;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color:  #e7e7e7;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        text-align: center;
        padding: 4px 6px; 
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
       background-color:  rgb(187, 163, 128); 
    }

    .div1 {
        display: block;
        margin: auto;
        padding: 5px 8px;
        max-width: 400px;
    }

    .div2 {
        display: block;
        margin: auto;
        padding: 5px 8px;
        max-width: 400px;
    }

    .div3 {
        display: block;
        margin: auto;
        padding: 5px 8px;
        max-width: 400px;
    }

    .div4 {
        display: block;
        margin: auto;
        padding: 5px 8px;
        max-width: 400px;
    }

    .div5 {
        display: block;
        margin: auto;
        padding: 5px 8px;
        max-width: 400px;
    }

    p {
        text-align: justify;
        font-family: 'Dosis', sans-serif;
        color: black;
        margin: 0 0 5px 0;
    }
    .dark,
    .dark *:not(.active) {
        background-color: #222;
        color: #e7e7e7;
        border-color: #e7e7e7;
    }
}   

.dark,
.dark *:not(.active) {
    background-color: #222;
    color: #e7e7e7;
    border-color: #e7e7e7;
}

