
html 
{
    background: rgb(34, 34, 34);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1322px;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

header
{
    max-width: 1322px;
    text-align: center;
}

h1 
{
    color: #e7eeec;
    position: relative;
    font-size: 70px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

h2 
{
    color: #e7eeec;
    position: relative;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

p 
{
    color: #e7eeec;
    font-size: 20px;
    font-style: italic;
    font-family: 'Cairo', sans-serif;
    position: relative;
    text-align: center;
}

a
{
    color: #e7eeec;
    text-decoration: inherit;
}

body 
{
    margin: 0 0 100px;
}

footer
{
    color: #e7eeec;
    text-align: center; 
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    max-width: 1322px;

}

.nav-bar
{
    color: #e7eeec;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    position: relative;
    width: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-template-areas:
    "content1 content2 content3 content4";
    justify-content: center;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-link
{
    border: 3px solid #e7eeec;
}

.container
{
    color: #e7eeec;
    border-color: #e7eeec;
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
    position: relative;
    max-width: 1322px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-template-areas:
    "header header header header header"
    "content1 content2 content3 content4 content13"
    "content5 content6 content7 content8 content14"
    "content9 content10 content11 content12 content15"
   ;
    justify-content: center;
    text-align: center;
}

.header
{
    grid-area: header;
    width: 100%;
    height: auto;
    padding: 6px;
}
.freespace
{
    grid-area: content3;
    width: 100%;
    height: auto;
    padding: 6px;

}

.empty1
{
    grid-area: content7;
    width: 100%;
    height: auto;
    padding: 6px;
}

.empty2
{
    grid-area: content11;
    width: 100%;
    height: auto;
    padding: 6px;
}

.artportfolio
{
    grid-area: content2;
    width: 100%;
    height: auto;
    padding: 6px;

}

.artcommissions
{
    grid-area: content6;
    width: 100%;
    height: auto;
    padding: 6px;

}

.spicyart
{
    grid-area: content10;
    width: 100%;
    height: auto;
    padding: 6px;

}

.webport
{
    grid-area: content4;
    width: 100%;
    height: auto;
    padding: 6px;

}

.webcomm
{
    grid-area: content8;
    width: 100%;
    height: auto;
    padding: 6px;

}

.webtemplates
{
    grid-area: content12;
    width: 100%;
    height: auto;
    padding: 6px;

}

.container2
{
    color: #e7eeec;
    border-color: #e7eeec;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;
    position: absolute;
    bottom: 12px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "content1 content2 content3 content4 content10 content11" 
    "content12 content13 content14 content15 content16 content17";
    justify-content: center;
    text-align: center;
}

.about
{
    grid-area: content13;
    width: 100%;
    height: auto;
}

.faq
{
    grid-area: content14;
    width: 100%;
    height: auto;
}

.pricing
{
    grid-area: content15;
    width: 100%;
    height: auto;
}

.contact
{
    grid-area: content16;
    width: 100%;
    height: auto;
}

img 
{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.work1
{
    height: 150px;
    width: 120px;
}

input [type=text]
{
    width: 50%;
    padding: 10px 15px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type=button]
  {
      background-color: #ccc;
      font-family: 'Cairo', sans-serif;
      font-size: 20px;
      border: none;
      color: black;
      padding: 15px 30px;
      margin: auto;
      cursor: pointer;
  }

.container4
{
    background-color: #e7eeec;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    width: 50%;
    height: auto;
    border: 15px solid #b7b9b9;
    border-radius: 10px;
    padding: 30px; 
    margin: auto;
}

.formheader
{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
}
