body {
    background-color: white;
    display: block;
    margin: auto;
    max-width: 1200px;
}

    h1 {
        position: center;
        padding: 20px 22px;
    }

    ul {
        list-style-type: none;
        margin: auto;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px; 
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

    .div1 {
        display: block;
       float: left;
        padding: 15px 18px;
        max-width: 600px;
    }

    .div2 {
        display: block;
        margin: auto;
        padding: 15px 18px;
        max-width: 600px;
    }

    .div3 {
        display: block;
        float: right;
        padding: 15px 18px;
        max-width: 600px;
    }

    p {
        text-align: justify;
        color: black;
        margin: 0 0 15px 0;
    }

